/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

h1 {
  font-family: Raleway;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: 49px;
  color: white;
}

/* ====================================
// base rules
// ==================================== */

.medium-text {
  color: #222;
  font-family: Raleway;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.light-text {
  color: #999;

  /* phone-credit */
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 111.111% */
  text-transform: lowercase;
  margin-top: 5px;
}
